<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sesiones</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="box-content min-w-full  min-h-screen bg-[#09090B] flex flex-col content-center items-center p-0 m-0 text-black font-mono gap-2">
<header class="bg-[#09090B] border-b border-gray-500 p-2 flex flex-col sm:flex-row justify-center items-center text-center gap-4 text-gray-400 w-full overflow-auto">
    <div class="max-w-7xl w-full flex flex-col sm:flex-row sm:justify-between">

        {% if isAunthenticated %}

        <h2>{{ user.email }}</h2>
        <a href="javascript:history.back()">
            <button class="bg-[#09090B] w-auto min-w-52 h-10 text-white p-1 rounded-md  hover:border-green-500 hover:text-green-500 ease-in-out duration-200 border border-gray-500 text-center items-center"
            >
                Volver
            </button>
        </a>
        <a href="/logout">
            <button class="bg-[#09090B] w-20 h-10 text-gray-400  p-1 rounded-md mr-2 hover:text-white ease-in-out duration-100">
                Logout
            </button>
        </a>

        {% else %}
        <a href="/login">
            <button class="bg-[#09090B] w-20 h-10 text-gray-400  p-1 rounded-md mr-2 hover:text-white ease-in-out duration-100">
                Login
            </button>
        </a>
        <a href="/register">
            <button class="bg-[#09090B] w-20 h-10 text-gray-400  p-1 rounded-md mr-2 hover:text-white ease-in-out duration-100">
                Register
            </button>
        </a>
        {% endif %}

    </div>
</header>
<div class="max-w-7xl w-full text-white flex flex-row flex-wrap gap-4 border border-gray-500 rounded-lg p-2 justify-evenly">
    <h1 class="text-3xl underline">{{clase.nombre}}</h1>
    <textarea class="text-white bg-transparent">{{clase.descripcion}}</textarea>
    <p>Duración:{{clase.duracion}}</p>
    <p>Capacidad:{{clase.capacidadMaxima}}</p>
    <p>Creador:{{clase.creador}}</p>
</div>
<div class="text-white">
    <h1 class="text-4xl text-center underline m-5">Sesiones</h1>
    <ul class="grid grid-cols-3 gap-3 ">
        {% for session in inscribedSessions %}
        <li class="border border-gray-500 rounded-lg p-2 text-center">
            <h2>{{session.date}}</h2>
            <p>{{session.instructor}}</p>
            <form method="post" action="/classes/{{clase.id}}/clients/unsubscribe">
                <input type="hidden" name="dateSession" id="dateSession" value="{{session.date}}">
                <input type="hidden" name="instructorSession" id="instructorSession" value="{{session.instructor}}">
                <button class="bg-white w-auto min-w-52 h-10 text-black p-1 rounded-md  hover:bg-gray-300 ease-in-out duration-200 border border-white">
                    Desinscribirse
                </button>
            </form>
        </li>
        {% endfor %}
        {% for session in nonInscribedSessions %}
        <li class="border border-gray-500 rounded-lg p-2 text-center">
            <h2>{{session.date}}</h2>
            <p>{{session.instructor}}</p>
            <form method="post" action="/classes/{{clase.id}}/clients">
                <input type="hidden" name="date" id="date" value="{{session.date}}">
                <input type="hidden" name="instructor" id="instructor" value="{{session.instructor}}">
                <button class="bg-white w-auto min-w-52 h-10 text-black p-1 rounded-md  hover:bg-gray-300 ease-in-out duration-200 border border-white">
                    Inscribirse
                </button>
            </form>
        </li>
        {% endfor %}

    </ul>
</div>

</body>
</html>