<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ManagedSessions</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="box-content min-w-full  min-h-screen bg-[#09090B] flex flex-col content-center items-center p-0 m-0 text-black font-mono gap-2">
<header class="bg-[#09090B] border-b border-gray-500 p-2 flex flex-col sm:flex-row justify-center items-center text-center gap-4 text-gray-400 w-full overflow-auto">
    <div class="max-w-7xl w-full flex flex-row justify-between items-center">

        {% if isAunthenticated %}

        <div class="flex flex-row flex-wrap gap-4">
            <a href="/">
                <button class="bg-[#09090B] w-auto h-10 text-gray-400 rounded-md hover:text-white ease-in-out duration-100"
                >
                    Inicio
                </button>
            </a>
            <a href="javascript:history.back()">
            <button class="bg-[#09090B] w-auto h-10 text-gray-400 rounded-md hover:text-white ease-in-out duration-100"
            >
                Volver
            </button>
        </a>
        </div>


        <div class="flex flex-row flex-wrap items-center">
            <p class="text-center">{{ user.email }}</p>
            <a href="/logout">
                <button class="bg-[#09090B] w-20 h-10 text-gray-400  p-1 rounded-md mr-2 hover:text-white ease-in-out duration-100">
                    Logout
                </button>
            </a>
        </div>


        {% else %}
        <a href="/login">
            <button class="bg-[#09090B] w-20 h-10 text-gray-400  p-1 rounded-md mr-2 hover:text-white ease-in-out duration-100">
                Login
            </button>
        </a>
        <a href="/register">
            <button class="bg-[#09090B] w-20 h-10 text-gray-400  p-1 rounded-md mr-2 hover:text-white ease-in-out duration-100">
                Register
            </button>
        </a>
        {% endif %}

    </div>
</header>
<div class="max-w-7xl w-full text-white flex flex-row flex-wrap gap-4 border border-gray-500 rounded-lg p-2 justify-evenly">
    <h1 class="text-3xl underline">{{clase.nombre}}</h1>
    <textarea class="text-white bg-transparent">{{clase.descripcion}}</textarea>
    <p>Duración:{{clase.duracion}}</p>
    <p>Capacidad:{{clase.capacidadMaxima}}</p>
    <p>Creador:{{clase.creador}}</p>
</div>


<div class="text-white text-center">
    <h1 class="text-4xl text-center underline m-5">Sesiones</h1>
    {% if sessions %}
    <ul class="grid grid-cols-3 gap-3 ">

        {% for session in sessions %}
        <li class="border border-gray-500 rounded-lg p-2 text-center">
            <h2>{{session.date}}</h2>
            <p>{{session.instructor}}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">No hay sesiones</p>
    {% endif %}
</div>

</body>
</html>